/* SDS topic-badge
----------------------------------------------------------------- */
.topic-badge {
  line-height: 1 !important;
}
.topic-sds {
  background: #3185ae;
  padding: 6px;
  color: #fff !important;
  border-radius: 5px;
  font: 700 10px/1 Lato, sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

/* SDS post badge
----------------------------------------------------------------- */
.post-sds-badge {
  --bs-badge-padding-x: 20px;
  --bs-badge-padding-y: 4px;
  --bs-badge-font-size: 12px;
}

/* platform pills
----------------------------------------------------------------- */
.psn-pill {
  background-color: #003697;
  border: none;
  color: #fff !important;
  padding: 2px 12px;
  text-align: center;
  // margin: 0 auto;
  width: fit-content;
  cursor: pointer;
  border-radius: 0.25rem;
}
.xbl-pill {
  background-color: #107c10;
  border: none;
  color: #fff !important;
  padding: 2px 12px;
  text-align: center;
  // margin: 0 auto;
  width: fit-content;
  cursor: pointer;
  border-radius: 0.25rem;
}
.ts-pill {
  background-color: #000;
  border: none;
  color: #fff !important;
  padding: 2px 12px;
  text-align: center;
  // margin: 0 auto;
  width: fit-content;
  cursor: pointer;
  border-radius: 0.25rem;
}
.nsw-pill {
  background-color: #e60012;
  border: none;
  color: #fff !important;
  padding: 2px 12px;
  text-align: center;
  // margin: 0 auto;
  width: fit-content;
  cursor: pointer;
  border-radius: 0.25rem;
}

/* Global Header
----------------------------------------------------------------- */

/* header */
.global-header {
  background-color: #000000;
  color: #ffffff;
  position: relative;
  // margin: 0 auto;
}
.global-header-inner {
  padding: 5px 15px;
  max-width: 1600px;
  flex-direction: row;
  margin: auto;
  font-size: 12px;
  a {
    color: #ffffff;
  }
}
.global-header-links-right {
  float: right;
  a {
    margin-left: 20px;
  }
  svg {
    margin-left: 20px;
  }
  a:first-child {
    margin-left: 0px;
  }
  svg:first-child {
    margin-left: 0px;
  }
  .link-icon {
    fill: #ffffff;
  }
}

@media (min-width: 641px) {
  .link-icon {
    display: none;
  }
  .link-text {
    display: inline-block;
  }
}

@media (max-width: 640px) {
  .global-header a {
    font-size: 16px;
  }
  .global-header-inner {
    padding: 12px 15px;
  }
  .link-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
  }
  .link-text {
    display: none;
  }
}

/* Survey
----------------------------------------------------------------- */
.global-menu-survey {
  display: none;
  margin-left: 40px;
  float: right;
}
.global-menu-survey-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px;
  background: #d50032;
  color: #ffffff;
  cursor: pointer;
}
.global-toggle-survey {
  width: 12px;
  height: 12px;
  fill: #ffffff;
}
.global-menu-survey-label {
  display: none;
}
@media only screen and (min-width: 641px) {
  .global-toggle-survey {
    margin: 0 5px 0 0;
  }
  .global-menu-survey-label {
    display: block;
  }
}
@media only screen and (max-width: 640px) {
  .global-menu-survey {
    margin-left: 20px;
  }
  .global-menu-survey-wrapper {
    padding: 4px 8px;
  }
  .global-toggle-survey {
    height: 21px;
    width: 21px;
  }
}

/* Sweepstakes
----------------------------------------------------------------- */
.global-sweepstakes {
  background: #33d9b2;
}
.global-sweepstakes-container {
  display: flex;
  flex-direction: row;
  max-width: 1600px;
  margin: auto;
  padding: 8px 15px;
  background: #33d9b2;
  color: black;
  font-size: 14px;
  a {
    color: #000000 !important;
    text-decoration: underline !important;
    cursor: pointer;
  }
}
.global-sweepstakes-container .trix-content {
  flex-grow: 1;
  padding: 0 15px;
}

/* Ribbon
----------------------------------------------------------------- */
.fixed-ribbon {
  background: black;
  color: white;
  position: fixed;
  bottom: 0;
  left: 53px;
  width: calc(100% - 20px);
  z-index: 8;
  max-width: 300px;
}
.fixed-ribbon-controls {
  display: flex;
  justify-content: flex-end;
  padding: 6px 11px 0 0;
  a {
    color: white;
  }
}
.fixed-ribbon-content {
  padding: 0 1rem 0.5rem;
  a {
    color: blue;
  }
}
// NOTE: NodeBB ONLY!
@media only screen and (max-width: 991px) {
  .fixed-ribbon {
    left: 0;
    bottom: 68px;
  }
}

/* Alerts
----------------------------------------------------------------- */
.alert-icon {
  width: 20px;
  height: 20px;
  background-size: cover;
}
.alert-icon-default {
  filter: invert(90%) sepia(2%) saturate(0%) hue-rotate(110deg) brightness(93%)
    contrast(89%);
}
.alert-icon-white {
  filter: invert(100%) sepia(0%) saturate(26%) hue-rotate(14deg)
    brightness(106%) contrast(106%);
}
.alert-icon-black {
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(97%)
    contrast(103%);
}
.alert-icon-blue {
  filter: invert(48%) sepia(84%) saturate(1744%) hue-rotate(163deg)
    brightness(97%) contrast(101%);
}
.alert-icon-green {
  filter: invert(100%) sepia(23%) saturate(5851%) hue-rotate(25deg)
    brightness(92%) contrast(78%);
}
.alert-icon-red {
  filter: invert(56%) sepia(69%) saturate(4225%) hue-rotate(330deg)
    brightness(91%) contrast(126%);
}
.alert-icon-yellow {
  filter: invert(77%) sepia(99%) saturate(3361%) hue-rotate(357deg)
    brightness(102%) contrast(107%);
}
.alert-icon-dark-teal {
  filter: invert(45%) sepia(71%) saturate(1954%) hue-rotate(145deg)
    brightness(103%) contrast(84%);
}
.alert-icon-orange {
  filter: invert(53%) sepia(84%) saturate(1272%) hue-rotate(358deg)
    brightness(98%) contrast(108%);
}
.alert-icon-teal {
  filter: invert(77%) sepia(44%) saturate(767%) hue-rotate(108deg)
    brightness(92%) contrast(87%);
}
.alert-icon-purple {
  filter: invert(54%) sepia(79%) saturate(2192%) hue-rotate(223deg)
    brightness(105%) contrast(97%);
}

.fixed-alert-content {
  max-width: 1600px;
  margin: auto;
  padding: 8px 15px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
}
.fixed-alert-content .trix-content {
  flex-grow: 1;
  padding: 0 15px;
}

/* alert links color */
.alert-text-default {
  color: #ccc;
  a {
    color: #ccc;
    text-decoration: underline !important;
  }
}
.alert-text-white {
  color: #ffffff;
  a {
    color: #ffffff;
    text-decoration: underline !important;
  }
}
.alert-text-black {
  color: #000000;
  a {
    color: #000000;
    text-decoration: underline !important;
  }
}
.alert-text-blue {
  color: #00abf0;
  a {
    color: #00abf0;
    text-decoration: underline !important;
  }
}
.alert-text-green {
  color: #9bd14e;
  a {
    color: #9bd14e;
    text-decoration: underline !important;
  }
}
.alert-text-red {
  color: #ff4137;
  a {
    color: #ff4137;
    text-decoration: underline !important;
  }
}
.alert-text-yellow {
  color: #ffda00;
  a {
    color: #ffda00;
    text-decoration: underline !important;
  }
}
.alert-text-dark-teal {
  color: #14b2ad;
  a {
    color: #14b2ad;
    text-decoration: underline !important;
  }
}
.alert-text-orange {
  color: #ff8b00;
  a {
    color: #ff8b00;
    text-decoration: underline !important;
  }
}
.alert-text-teal {
  color: #24ddb9;
  a {
    color: #24ddb9;
    text-decoration: underline !important;
  }
}
.alert-text-purple {
  color: #b482fb;
  a {
    color: #b482fb;
    text-decoration: underline !important;
  }
}

/* 2021 cotw
----------------------------------------------------------------- */
.mlb21-global-challenge {
  background: #69becb;
}
.mlb21-global-challenge-container {
  display: flex;
  flex-direction: row;
  max-width: 1600px;
  margin: auto;
  padding: 8px 15px;
  background: #69becb;
  color: black;
  font-size: 14px;
  a {
    color: #000000 !important;
    text-decoration: underline !important;
    cursor: pointer;
  }
}
.mlb21-global-challenge-container .trix-content {
  flex-grow: 1;
  padding: 0 15px;
}

/* 2022 cotw
----------------------------------------------------------------- */
.mlb22-global-challenge {
  background: #cc3433;
}
.mlb22-global-challenge-container {
  display: flex;
  flex-direction: row;
  max-width: 1600px;
  margin: auto;
  padding: 8px 15px;
  background: #cc3433;
  color: black;
  font-size: 14px;
  a {
    color: #000000 !important;
    text-decoration: underline !important;
    cursor: pointer;
  }
}
.mlb22-global-challenge-container .trix-content {
  flex-grow: 1;
  padding: 0 15px;
}

/* Modal
----------------------------------------------------------------- */
/* close button */
.global-modal-close {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.global-modal-close {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  outline: none;
  position: relative;
  vertical-align: top;
}
.global-modal-close::before,
.global-modal-close::after {
  background-color: white;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center;
}
.global-modal-close::before {
  height: 2px;
  width: 50%;
}
.global-modal-close::after {
  height: 50%;
  width: 2px;
}
.global-modal-close:hover,
.global-modal-close:focus {
  background-color: rgba(10, 10, 10, 0.3);
}
.global-modal-close:active {
  background-color: rgba(10, 10, 10, 0.4);
}
.global-modal-close {
  background: none;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
}

/* modal */
.global-modal,
.global-modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.global-modal {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 1031; // NOTE: greater than z-index of navbar
}
.global-modal.is-active {
  display: flex;
}
.global-modal-background {
  background-color: rgba(10, 10, 10, 0.86);
}
.global-modal-content {
  margin: 0 20px;
  max-height: calc(100vh - 150px);
  position: relative;
  width: 90%;
  overflow-y: auto;
}
@media only screen and (min-width: 62em) {
  .global-modal-content {
    max-width: 640px;
    &.modal-full-width {
      max-width: 80vw;
    }
  }
}

/* modal box */
.global-box {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
  display: block;
  overflow: auto;
}

/* survey modal box */
.survey-modal {
  background-color: #131313;
  color: #ffffff;
  border-bottom: 1px solid #000000;
  &:last-child {
    border-bottom: none;
  }
  .survey-modal-heading {
    padding: 20px 30px 10px;
    span {
      display: block;
      margin: 0 0 10px;
      font-size: 21px;
      font-weight: bold;
      text-align: center;
    }
    p {
      margin: 0;
    }
  }
  .survey-modal-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px 30px 40px;
    a {
      display: inline-block;
      margin: 5px;
      text-align: center;
    }
  }
}

/* survey buttons */
.survey-button {
  width: 80%;
  display: inline-block;
  padding: 8px 15px;
  background: #3273dc;
  border: 1px solid #3273dc;
  border-radius: 0;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  appearance: none;
  &:focus,
  &:hover {
    background: #1f53a7;
    border-color: #1f53a7;
    outline: 0;
    text-decoration: none;
  }
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &.button-outline {
    background: transparent;
    border: 1px solid #3273dc;
    color: #3273dc;
    &:focus,
    &:hover {
      border-color: #1f53a7;
      color: #1f53a7;
    }
  }
  &.button-clear {
    background-color: transparent;
    border-color: transparent;
    color: #3273dc;
    &:focus,
    &:hover {
      color: #1f53a7;
    }
  }
  &.button-rounded {
    border-radius: 4px;
  }
  &.button-full {
    display: block;
    text-align: center;
  }
}

@media only screen and (min-width: 48em) {
  .survey-modal {
    .survey-modal-heading {
      text-align: center;
    }
    .survey-modal-content {
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px 30px 40px;
      a {
        display: inline-block;
        margin: 5px;
      }
    }
  }
}

/* TOU Modal Box - NOTE: NODEBB ONLY
----------------------------------------------------------------- */
.tou-modal {
  background-color: #131313;
  color: #ffffff;
  border-bottom: 1px solid #000000;
  .tou-modal-content {
    word-break: break-word;
    padding: 10px 30px 40px;
    a {
      display: inline-block;
      margin: 5px;
      text-align: center;
    }
  }
  .tou-modal-footer {
    padding: 10px 30px 40px;
  }
}
.tou-button {
  display: inline-block;
  padding: 8px 15px;
  background: #3273dc;
  border: 1px solid #3273dc;
  border-radius: 0;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  appearance: none;
  &:focus,
  &:hover {
    background: #1f53a7;
    border-color: #1f53a7;
    outline: 0;
    text-decoration: none;
  }
}

/* Q&A Plugin
----------------------------------------------------------------- */
.posts [component="post"][data-index="-1"].isSolved::before {
  top: -25px !important;
  font-size: 12px !important;
  padding: 6px 12px !important;
}

/* Q&A Plugin
----------------------------------------------------------------- */
.posts [component="post"][data-index="-1"].isSolved {
  border: 2px solid #198754 !important;
}

/* Footer
----------------------------------------------------------------- */
footer {
  font-size: 14px;
  background: #f7f7f7;
  // margin: 90px 0 0;
  .footer-container {
    .footer-inner {
      display: flex;
      flex-direction: column;
      margin: auto;
      max-width: 1600px;
      .footer-links {
        display: flex;
        flex-direction: column;
        .footer-social {
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding: 30px;
          border-bottom: 1px solid #ffffff;
          a {
            display: block;
            margin: 0 15px;
          }
          a:first-child {
            margin-left: 0;
          }
          a:last-child {
            margin-right: 0;
          }
          svg {
            margin: 0;
            width: 32px;
            vertical-align: middle;
          }
        }
        .footer-icons {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          padding: 15px;
          border-bottom: 1px solid #ffffff;
          .esrb,
          .esrbcert,
          .psstudios {
            max-height: 68px;
          }
          .mlb,
          .sie,
          .sds,
          .mlbpa {
            max-height: 48px;
          }
          img {
            margin: 15px;
          }
          a {
            display: inline-flex;
          }
        }
      }
      .footer-legal {
        padding: 30px;
        .footer-terms {
          display: flex;
          align-items: center;
          margin: 0 0 30px;
          flex-direction: column;
          a {
            display: block;
            margin: 0 0 15px;
            font-weight: bold;
            color: #717171;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .footer-copy {
          color: #717171;
        }
      }
    }
  }
}

/* media queries */
@media only screen and (min-width: 75em) {
  footer {
    .footer-container {
      .footer-inner {
        .footer-links {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #ffffff;
          .footer-social {
            border-bottom: none;
            margin-bottom: 2px;
          }
          .footer-icons {
            border-bottom: none;
          }
        }
        .footer-legal {
          .footer-terms {
            justify-content: flex-start;
            flex-direction: row;
            a {
              margin-right: 30px;
            }
          }
        }
      }
    }
  }
}

/* timeline events:  SDOD-2692 */
.timeline-event {
  display: none !important;
}

.ghost-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: $gray-200;
    border: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: $gray-500;
  }
}

.page-user-chats {
  overflow: auto !important;
}
