

/* SDS topic-badge
----------------------------------------------------------------- */
.topic-badge {
  line-height: 1 !important;
}
.topic-sds {
  background: #3185ae;
  padding: 6px;
  color: #fff !important;
  border-radius: 5px;
  font: 700 10px/1 Lato,sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
}

/* SDS post badge
----------------------------------------------------------------- */
.post-sds-badge {
  --bs-badge-padding-x: 20px;
  --bs-badge-padding-y: 4px;
  --bs-badge-font-size: 12px;
}

/* platform pills
----------------------------------------------------------------- */
.psn-pill {
  background-color: #003697;
  border: none;
  color: #fff;
  padding: 2px 12px;
  text-align: center;
  // margin: 0 auto;
  width: fit-content;
  cursor: pointer;
  border-radius: 16px;
}
.xbl-pill {
  background-color: #107C10;
  border: none;
  color: #fff;
  padding: 2px 12px;
  text-align: center;
  // margin: 0 auto;
  width: fit-content;
  cursor: pointer;
  border-radius: 16px;
}
.ts-pill {
  background-color: #000;
  border: none;
  color: #fff;
  padding: 2px 12px;
  text-align: center;
  // margin: 0 auto;
  width: fit-content;
  cursor: pointer;
  border-radius: 16px;
}
.nsw-pill {
  background-color: #E60012;
  border: none;
  color: #fff;
  padding: 2px 12px;
  text-align: center;
  // margin: 0 auto;
  width: fit-content;
  cursor: pointer;
  border-radius: 16px;
}

/* Global Header
----------------------------------------------------------------- */

/* header */
.global-header {
  background-color: #000000;
  color: #ffffff;
  position: relative;
  // margin: 0 auto;
}
.global-header-inner {
  padding: 5px 15px;
  max-width: 1600px;
  flex-direction: row;
  margin: auto;
  font-size: 12px;
  a { color: #ffffff; }
}
.global-header-links-right {
  float: right;
  a { margin-left: 20px; }
  svg { margin-left: 20px; }
  a:first-child { margin-left: 0px; }
  svg:first-child { margin-left: 0px; }
  .link-icon { fill: #ffffff; }
}

@media (min-width: 641px) {
  .link-icon { display: none }
  .link-text { display: inline-block }
}

@media (max-width: 640px) {
  .global-header a { font-size: 16px; }
  .global-header-inner { padding: 12px 15px; }
  .link-icon {
    display:inline-block;
    width: 25px;
    height: 25px;
  }
  .link-text { display: none }
}

/* Ribbon
----------------------------------------------------------------- */
.fixed-ribbon {
  background: black;
  color: white;
  position: fixed;
  bottom: 0;
  left: 53px;
  width: calc(100% - 20px);
  z-index: 8;
}
.fixed-ribbon-controls {
  display: flex;
  justify-content: flex-end;
  padding: 6px 11px 0 0;
  a {
    color: white;
  }
}
.fixed-ribbon-content {
  padding: 0 1rem 0.5rem;
}
// NOTE: RAILS ONLY
// .fixed-ribbon-content .trix-content {
//   margin-bottom: 30px;
// }

/* media queries */
@media only screen and (min-width: 48em) {
  .fixed-ribbon {
    max-width: 300px;
  }
}
// NOTE: NodeBB ONLY!
@media only screen and (max-width: 991px) {
  .fixed-ribbon {
    left: 0;
    bottom: 68px;
  }
}

/* Alerts
----------------------------------------------------------------- */
.alert-icon {
  width: 20px;
  height: 20px;
  background-size: cover;
}
.alert-icon-default { filter: invert(90%) sepia(2%) saturate(0%) hue-rotate(110deg) brightness(93%) contrast(89%); }
.alert-icon-white { filter: invert(100%) sepia(0%) saturate(26%) hue-rotate(14deg) brightness(106%) contrast(106%); }
.alert-icon-black { filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(97%) contrast(103%); }
.alert-icon-blue { filter: invert(48%) sepia(84%) saturate(1744%) hue-rotate(163deg) brightness(97%) contrast(101%); }
.alert-icon-green { filter: invert(100%) sepia(23%) saturate(5851%) hue-rotate(25deg) brightness(92%) contrast(78%); }
.alert-icon-red { filter: invert(56%) sepia(69%) saturate(4225%) hue-rotate(330deg) brightness(91%) contrast(126%); }
.alert-icon-yellow { filter: invert(77%) sepia(99%) saturate(3361%) hue-rotate(357deg) brightness(102%) contrast(107%); }
.alert-icon-dark-teal { filter: invert(45%) sepia(71%) saturate(1954%) hue-rotate(145deg) brightness(103%) contrast(84%); }
.alert-icon-orange { filter: invert(53%) sepia(84%) saturate(1272%) hue-rotate(358deg) brightness(98%) contrast(108%); }
.alert-icon-teal { filter: invert(77%) sepia(44%) saturate(767%) hue-rotate(108deg) brightness(92%) contrast(87%); }
.alert-icon-purple { filter: invert(54%) sepia(79%) saturate(2192%) hue-rotate(223deg) brightness(105%) contrast(97%); }

.fixed-alert-content {
  max-width: 1600px;
  margin: auto;
  padding: 8px 15px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
}
.fixed-alert-content .trix-content {
  flex-grow: 1;
  padding: 0 15px;
}

/* alert links color */
.alert-text-default {
  color: #ccc;
  a {
    color: #ccc;
    text-decoration: underline !important;
  }
}
.alert-text-white {
  color: #ffffff;
  a {
    color: #ffffff;
    text-decoration: underline !important;
  }
}
.alert-text-black {
  color: #000000;
  a {
    color: #000000;
    text-decoration: underline !important;
  }
}
.alert-text-blue {
  color: #00abf0;
  a {
    color: #00abf0;
    text-decoration: underline !important;
  }
}
.alert-text-green {
  color: #9BD14E;
  a {
    color: #9BD14E;
    text-decoration: underline !important;
  }
}
.alert-text-red {
  color: #ff4137;
  a {
    color: #ff4137;
    text-decoration: underline !important;
  }
}
.alert-text-yellow {
  color: #ffda00;
  a {
    color: #ffda00;
    text-decoration: underline !important;
  }
}
.alert-text-dark-teal {
  color: #14B2AD;
  a {
    color: #14B2AD;
    text-decoration: underline !important;
  }
}
.alert-text-orange {
  color: #ff8b00;
  a {
    color: #ff8b00;
    text-decoration: underline !important;
  }
}
.alert-text-teal {
  color: #24ddb9;
  a {
    color: #24ddb9;
    text-decoration: underline !important;
  }
}
.alert-text-purple {
  color: #b482fb;
  a {
    color: #b482fb;
    text-decoration: underline !important;
  }
}

/* 2021 cotw
----------------------------------------------------------------- */
.mlb21-global-challenge {
  background: #69becb;
}
.mlb21-global-challenge-container {
  display: flex;
  flex-direction: row;
  max-width: 1600px;
  margin: auto;
  padding: 8px 15px;
  background: #69becb;
  color: black;
  font-size: 14px;
  a {
    color: #000000 !important;
    text-decoration: underline !important;
    cursor: pointer;
  }
}
.mlb21-global-challenge-container .trix-content {
  flex-grow: 1;
  padding: 0 15px;
}

/* 2022 cotw
----------------------------------------------------------------- */
.mlb22-global-challenge {
  background: #CC3433;
}
.mlb22-global-challenge-container {
  display: flex;
  flex-direction: row;
  max-width: 1600px;
  margin: auto;
  padding: 8px 15px;
  background: #CC3433;
  color: black;
  font-size: 14px;
  a {
    color: #000000 !important;
    text-decoration: underline !important;
    cursor: pointer;
  }
}
.mlb22-global-challenge-container .trix-content {
  flex-grow: 1;
  padding: 0 15px;
}
