/* SDS topic-badge
----------------------------------------------------------------- */
.topic-badge {
  line-height: 1 !important;
}
.topic-sds {
  background: #3185ae;
  padding: 6px;
  color: #fff !important;
  border-radius: 5px;
  font: 700 10px/1 Lato,sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
}

/* SDS post badge
----------------------------------------------------------------- */
.post-sds-badge {
  --bs-badge-padding-x: 20px;
  --bs-badge-padding-y: 4px;
  --bs-badge-font-size: 12px;
}

/* platform pills
----------------------------------------------------------------- */
.psn-pill {
  background-color: #003697;
  border: none;
  color: #fff;
  padding: 2px 12px;
  text-align: center;
  // margin: 0 auto;
  width: fit-content;
  cursor: pointer;
  border-radius: 16px;
}
.xbl-pill {
  background-color: #107C10;
  border: none;
  color: #fff;
  padding: 2px 12px;
  text-align: center;
  // margin: 0 auto;
  width: fit-content;
  cursor: pointer;
  border-radius: 16px;
}
.ts-pill {
  background-color: #000;
  border: none;
  color: #fff;
  padding: 2px 12px;
  text-align: center;
  // margin: 0 auto;
  width: fit-content;
  cursor: pointer;
  border-radius: 16px;
}
.nsw-pill {
  background-color: #E60012;
  border: none;
  color: #fff;
  padding: 2px 12px;
  text-align: center;
  // margin: 0 auto;
  width: fit-content;
  cursor: pointer;
  border-radius: 16px;
}
