.skin-quartz {
  // $body-bg-image is gradient in quartz
  [component="post"] .icon {
    background-color: transparent !important;
  }
}

.skin-quartz,
.skin-lux,
.skin-morph {
  // $spacer being modified looks bad on this element
  .topic-list-header .btn,
  .topic-main-buttons .btn {
    padding: 6px 12px;
  }
}

.skin-yeti {
  .badge {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

:root {
  .skin-darkly {
    --bs-border-color: #929292;
  }
}

:root {
  .skin-the-show-23 {
    --base-bg-color: #202020;
    --base-text-color: #fff;
    --bs-body-color: #fff;
    --dropdown-bg-color: #fff;
    --bs-secondary-color: #999;
    --bs-link-color-rgb: 255, 255, 255;
    --bs-link-opacity: 1;
  }
}

.skin-the-show-23 {
  a:hover {
    text-decoration: none;
  }
  a:hover,
  a:focus {
    --base-trim-color: #f931c5;
  }
  body {
    --bs-body-color: #fff;
  }
  blockquote {
    border-left: 2px solid #fff;
  }
  .bottombar-nav .nav-text {
    color: #fff;
  }
  .breadcrumb {
    .breadcrumb-item {
      span {
        color: #dfc538;
      }
    }
  }
  .btn-ghost.active,
  .btn-ghost:hover {
    background-color: #f931c5;
    i {
      color: rgb(255, 255, 255) !important;
    }
  }
  .bg-primary {
    --bs-primary-rgb: 249, 49, 197;
    --bs-bg-opacity: 1;
  }
  .btn-primary {
    --btn-primary-bg-color: #f931c5;
    --btn-primary-border-color: #f931c5;
    --bs-btn-color: #fff;
  }
  .btn-primary.active,
  .btn-primary:active {
    --btn-primary-active-bg-color: #f931c5;
    --btn-hover-border-color: #f931c5;
    --btn-primary-text-color: #fff;
  }
  .btn-primary.active:hover {
    --btn-primary-text-color: #fff;
    --btn-focus-secondary-bg-color: #6f0051;
    --btn-primary-active-border-color: #6f0051;
  }
  .btn-ghost-sm.active,
  .btn-ghost-sm:hover {
    background-color: #6f0051;
  }
  .btn-primary:hover {
    --btn-primary-hover-bg-color: #6f0051;
    --btn-primary-hover-border-color: #6f0051;
  }
  .card {
    --bs-card-bg: #515151;
    --bs-card-border-color: #fff;
  }
  .card-body {
    --bs-card-color: #fff;
  }
  .card-header {
    --bs-card-cap-color: #fff;
    --bs-card-cap-bg: #262626;
  }
  [component="chat/user/list/username"] {
    color: #fff !important;
  }
  .composer {
    --composer-bg-color: #515151;
    color: #fff;
    .write-container {
      .write {
        --composer-secondary-bg-color: #160128;
        --composer-border-color: #fff;
      }
    }
    .preview {
      --composer-border-color: #e9ecef;
    }
  }
  .dropdown-header {
    --bs-dropdown-header-color: #999;
  }
  .dropdown-item {
    --bs-dropdown-bg: #515151;
    --bs-dropdown-link-color: #fff;
  }
  .dropdown-item:focus,
  .dropdown-item:hover {
    --bs-dropdown-link-hover-color: #fff;
    --bs-dropdown-link-hover-bg: #6f0051;
  }
  .dropdown-menu {
    --bs-dropdown-color: #fff;
    --bs-dropdown-bg: #515151;
  }
  .form-check-input {
    border: 1px solid #fff;
  }
  .form-select {
    color: #fff;
  }
  .form-control {
    color: #fff;
    --bs-border-color: #e9ecef;
  }
  .modal-content {
    --bs-modal-bg: #515151;
    --bs-modal-color: #fff;
    --modal-bg-color: #515151;
  }
  .nav-link {
    --bs-nav-link-color: #dfc538;
  }
  .nav-link.active {
    background-color: #220040;
  }
  .nav-link:hover {
    --bs-nav-link-hover-color: #6f0051;
  }
  .post-sds {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      -140deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(249, 49, 197, 0.09705889191614148) 100%
    ) !important;
    .border-bottom {
      border-bottom: unset !important;
    }
  }
  .lh-1 span.badge {
    background-color: #f931c5 !important;
  }
  span.icon {
    background-color: #f931c5 !important;
  }
  .text-body {
    --bs-body-color-rgb: #fff;
    --bs-text-opacity: unset;
  }
  .textcomplete-dropdown {
    --bs-tertiary-bg: #515151;
    color: #fff;
  }
  .textcomplete-item:hover {
    --bs-tertiary-bg: #f931c5;
  }
  .text-dark {
    color: #b4208d !important;
  }
  .text-muted {
    color: #999 !important;
  }
  .tooltip-inner {
    color: #dfc538;
  }
  ul.categories-list li.unread .title,
  ul.topics-list li.unread .title {
    color: #dfc538;
  }
}

.skin-noskin {
  a:hover {
    text-decoration: none;
  }
  .btn-primary {
    --btn-primary-bg-color: #0d6efd;
    --btn-primary-border-color: #0d6efd;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
  }
  .btn-primary.active,
  .btn-primary:active {
    --btn-primary-active-bg-color: #0d6efd;
    --btn-hover-border-color: #0a58ca;
    --btn-primary-text-color: #fff;
  }
  .btn-primary.active:hover {
    --btn-primary-tetx-color: #fff;
    --btn-focus-secondary-bg-color: #0a58ca;
    --btn-primary-active-border-color: #0a58ca;
  }
  .btn-primary:hover {
    --btn-primary-hover-bg-color: #0a58ca;
    --btn-primary-hover-border-color: #0a58ca;
    --btn-primary-text-color: #fff;
  }
  .composer {
    --composer-bg-color: #f8f9fa;
    color: #000;
    .write-container {
      .write {
        --composer-secondary-bg-color: #fff;
        --composer-border-color: #e9ecef;
      }
    }
    .preview {
      --composer-border-color: #e9ecef;
      --composer-secondary-bg-color: #fff;
    }
  }
  .dropdown-menu {
    --dropdown-bg-color: #fff;
    --dropdown-border-color: rgba(0, 0, 0, 0.175);
  }
  .form-control {
    --bs-border-color: #e9ecef;
  }
  .modal-content {
    --bs-modal-bg: #fff;
    --bs-modal-color: #000;
    --bs-modal-border-width: 1px;
    --bs-modal-border-color: rgba(0, 0, 0, 0.175);
    --bs-modal-border-radius: 0.5rem;
    --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --modal-bg-color: #fff;
  }
  .post-sds {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      -140deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(0, 111, 205, 0.09705889191614148) 100%
    ) !important;
    .border-bottom {
      border-bottom: unset !important;
    }
    a {
      color: #0a58ca;
    }
  }
  .lh-1 span.badge {
    background-color: #0c6efc !important;
  }
  span.icon {
    background-color: #0c6efc !important;
  }
}

:root {
  .skin-dark {
    --base-bg-color: #202020;
    --base-text-color: #fff;
    --bs-body-color: #fff;
    --dropdown-bg-color: #fff;
    --bs-secondary-color: #999;
    --bs-link-color-rgb: 13, 110, 253;
    --bs-link-opacity: 1;
  }
}

.skin-dark {
  a:hover {
    text-decoration: none;
  }
  a:hover,
  a:focus {
    --base-trim-color: #0d6efd;
  }
  body {
    --bs-body-color: #fff;
  }
  blockquote {
    border-left: 2px solid #fff;
  }
  .bottombar-nav .nav-text {
    color: #fff;
  }
  .breadcrumb {
    .breadcrumb-item {
      span {
        color: #0d6efd;
      }
    }
  }
  .card {
    --bs-card-bg: #2d2d2d;
    --bs-card-border-color: #fff;
  }
  .card-body {
    --bs-card-color: #fff;
  }
  .card-header {
    --bs-card-cap-color: #fff;
    --bs-card-cap-bg: #2d2d2d;
  }
  .btn-ghost.active,
  .btn-ghost:hover {
    background-color: #0a58ca;
  }
  .btn-ghost-sm.active,
  .btn-ghost-sm:hover {
    background-color: #0a58ca;
  }
  .btn-primary {
    --btn-primary-bg-color: #0d6efd;
    --btn-primary-border-color: #0d6efd;
    --bs-btn-color: #fff;
  }
  .btn-primary:hover {
    --btn-primary-hover-bg-color: #0a58ca;
    --btn-primary-hover-border-color: #0a58ca;
  }
  .btn-primary.active,
  .btn-primary:active {
    --btn-primary-active-bg-color: #0d6efd;
    --btn-hover-border-color: #0d6efd;
    --btn-primary-text-color: #fff;
  }
  .btn-primary.active:hover {
    --btn-primary-text-color: #fff;
    --btn-focus-secondary-bg-color: #0a58ca;
    --btn-primary-active-border-color: #0a58ca;
  }
  [component="chat/user/list/username"] {
    color: #fff !important;
  }
  .composer {
    --composer-bg-color: #424242;
    color: #fff;
    .write-container {
      .write {
        --composer-border-color: #fff;
        --composer-secondary-bg-color: #202020;
      }
    }
    .preview {
      --composer-border-color: #e9ecef;
    }
  }
  .dropdown-menu {
    background-color: #515151 !important;
    --bs-dropdown-color: #fff;
  }
  .dropdown-item {
    --bs-dropdown-bg: #515151;
    --bs-dropdown-link-color: #fff;
  }
  .dropdown-item:focus,
  .dropdown-item:hover {
    --bs-dropdown-link-hover-color: #fff;
    --bs-dropdown-link-hover-bg: #0d6efd;
  }
  .form-control {
    color: #fff;
    --bs-border-color: #e9ecef;
  }
  .form-check-input {
    border: 1px solid #fff;
  }
  .form-select {
    color: #fff;
  }
  .modal-content {
    --bs-modal-bg: #2d2d2d;
    --bs-modal-color: #fff;
    --modal-bg-color: #2d2d2d;
  }
  .nav-link {
    --bs-nav-link-color: #fff;
  }
  .nav-link.active {
    background-color: #2d2d2d;
  }
  .nav-link:hover {
    --bs-nav-link-hover-color: #fff;
  }
  .post-sds {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      -140deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(13, 110, 253, 0.09705889191614148) 100%
    ) !important;
    .border-bottom {
      border-bottom: unset !important;
    }
    a {
      color: #0a58ca;
    }
  }
  .lh-1 span.badge {
    background-color: #0c6efc !important;
  }
  span.icon {
    background-color: #0c6efc !important;
  }
  .text-body {
    --bs-body-color-rgb: #fff;
    --bs-text-opacity: unset;
  }
  .textcomplete-dropdown {
    --bs-tertiary-bg: #515151;
    color: #fff;
  }
  .textcomplete-item:hover {
    --bs-tertiary-bg: #0d6efd;
  }
  .text-dark {
    color: #0a58ca !important;
  }
  .text-muted {
    color: #999 !important;
  }
  .tooltip-inner {
    color: #0d6efd;
  }
}

:root {
  .skin-the-show-24 {
    --base-bg-color: #202020;
    --base-text-color: #fff;
    --bs-body-color: #fff;
    --dropdown-bg-color: #fff;
    --bs-secondary-color: #999;
    --bs-link-color-rgb: 255, 255, 255;
    --bs-link-opacity: 1;
  }
}

.skin-the-show-24 {
  a:hover {
    text-decoration: none;
  }
  a:hover,
  a:focus {
    --base-trim-color: #e8291c;
  }
  body {
    --bs-body-color: #fff;
  }
  blockquote {
    border-left: 2px solid #fff;
  }
  .bottombar-nav .nav-text {
    color: #fff;
  }
  .breadcrumb {
    .breadcrumb-item {
      span {
        color: #dfc538;
      }
    }
  }
  .btn-ghost.active,
  .btn-ghost:hover {
    background-color: #0b3279;
  }
  .bg-primary {
    --bs-primary-rgb: 232, 41, 28;
    --bs-bg-opacity: 1;
  }
  .btn-primary {
    --btn-primary-bg-color: #e8291c;
    --btn-primary-border-color: #e8291c;
    --bs-btn-color: #fff;
  }
  .btn-primary.active,
  .btn-primary:active {
    --btn-primary-active-bg-color: #e8291c;
    --btn-hover-border-color: #e8291c;
    --btn-primary-text-color: #fff;
  }
  .btn-primary.active:hover {
    --btn-primary-text-color: #fff;
    --btn-focus-secondary-bg-color: #0b3279;
    --btn-primary-active-border-color: #0b3279;
  }
  .btn-ghost-sm.active,
  .btn-ghost-sm:hover {
    background-color: #0b3279;
  }
  .btn-primary:hover {
    --btn-primary-hover-bg-color: #0b3279;
    --btn-primary-hover-border-color: #0b3279;
  }
  .card {
    --bs-card-bg: #fff;
    --bs-card-border-color: #262626;
  }
  .card-body {
    --bs-card-color: #000;
  }
  .card-header {
    --bs-card-cap-color: #fff;
    --bs-card-cap-bg: #262626;
  }
  [component="chat/user/list/username"] {
    color: #fff !important;
  }
  .composer {
    --composer-bg-color: #515151;
    color: #fff;
    .write-container {
      .write {
        --composer-secondary-bg-color: #02163d;
        --composer-border-color: #fff;
      }
    }
    .preview {
      --composer-border-color: #e9ecef;
    }
  }
  .dropdown-header {
    --bs-dropdown-header-color: #999;
  }
  .dropdown-item {
    --bs-dropdown-bg: #515151;
    --bs-dropdown-link-color: #fff;
  }
  .dropdown-item:focus,
  .dropdown-item:hover {
    --bs-dropdown-link-hover-color: #fff;
    --bs-dropdown-link-hover-bg: #0b3279;
  }
  .dropdown-menu {
    --bs-dropdown-color: #fff;
    --bs-dropdown-bg: #515151;
  }
  .form-check-input {
    border: 1px solid #fff;
  }
  .form-select {
    color: #fff;
  }
  .form-control {
    color: #fff;
    --bs-border-color: #e9ecef;
  }
  .modal-content {
    --bs-modal-bg: #515151;
    --bs-modal-color: #fff;
    --modal-bg-color: #515151;
  }
  .nav-link {
    --bs-nav-link-color: #dfc538;
  }
  .nav-link.active {
    background-color: #ffffff24;
  }
  .nav-link:hover {
    --bs-nav-link-hover-color: #e8291c;
  }
  .post-sds {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      -140deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(232, 41, 28, 0.3) 100%
    ) !important;
    .border-bottom {
      border-bottom: unset !important;
    }
  }
  .lh-1 span.badge {
    background-color: #e8291c !important;
  }
  span.icon {
    background-color: #e8291c !important;
  }
  .text-body {
    --bs-body-color-rgb: #fff;
    --bs-text-opacity: unset;
  }
  .textcomplete-dropdown {
    --bs-tertiary-bg: #515151;
    color: #fff;
  }
  .textcomplete-item:hover {
    --bs-tertiary-bg: #e8291c;
  }
  .text-dark {
    color: #e8291c !important;
  }
  .text-muted {
    color: #999 !important;
  }
  .tooltip-inner {
    color: #dfc538;
  }
  ul.categories-list li.unread .title,
  ul.topics-list li.unread .title {
    color: #dfc538;
  }
}

:root {
  .skin-the-show-25 {
    --base-bg-color: #202020;
    --base-text-color: #fff;
    --bs-body-color: #fff;
    --dropdown-bg-color: #fff;
    --bs-secondary-color: #999;
    --bs-link-color-rgb: 255, 255, 255;
    --bs-link-opacity: 1;
  }
}

.skin-the-show-25 {
  a:hover {
    text-decoration: none;
  }
  a:hover,
  a:focus {
    --base-trim-color: #dd0005;
  }
  body {
    --bs-body-color: #fff;
  }
  blockquote {
    border-left: 2px solid #fff;
  }
  .bottombar-nav .nav-text {
    color: #fff;
  }
  .breadcrumb {
    .breadcrumb-item {
      span {
        color: #ffde00;
      }
    }
  }
  .btn-ghost.active,
  .btn-ghost:hover {
    background-color: #dd0005;
    i {
      color: rgb(255, 255, 255) !important;
    }
  }
  .btn-link {
    --bs-btn-color: #dd0005;
    --btn-primary-border-color: #e8291c;
    --bs-btn-color: #fff;
  }
  .btn-link:hover {
    background-color: #dd0005;
    color: #fff;
    text-decoration: none;
  }
  .bg-primary {
    --bs-primary-rgb: 251, 121, 0;
    --bs-bg-opacity: 1;
  }
  .btn-primary {
    --btn-primary-bg-color: #dd0005;
    --btn-primary-border-color: #e8291c;
    --bs-btn-color: #fff;
  }
  .btn-primary.active,
  .btn-primary:active {
    --btn-primary-active-bg-color: #dd0005;
    --btn-hover-border-color: #e8291c;
    --btn-primary-text-color: #fff;
  }
  .btn-primary.active:hover {
    --btn-primary-text-color: #fff;
    --btn-focus-secondary-bg-color: #fb7800;
    --btn-primary-active-border-color: #fb7800;
  }
  .btn-ghost-sm.active,
  .btn-ghost-sm:hover {
    background-color: #fb7800;
  }
  .btn-primary:hover {
    --btn-primary-hover-bg-color: #fb7800;
    --btn-primary-hover-border-color: #fb7800;
  }
  .card {
    --bs-card-bg: #fff;
    --bs-card-border-color: #fb7800;
  }
  .card-body {
    --bs-card-color: #000;
  }
  .card-header {
    --bs-card-cap-color: #fff;
    --bs-card-cap-bg: #262626;
  }
  [component="chat/user/list/username"] {
    color: #fff !important;
  }
  .composer {
    --composer-bg-color: #515151;
    color: #fff;
    .write-container {
      .write {
        --composer-secondary-bg-color: #02163d;
        --composer-border-color: #fff;
      }
    }
    .preview {
      --composer-border-color: #e9ecef;
    }
  }
  .dropdown-header {
    --bs-dropdown-header-color: #999;
  }
  .dropdown-item {
    --bs-dropdown-bg: #515151;
    --bs-dropdown-link-color: #fff;
  }
  .dropdown-item:focus,
  .dropdown-item:hover {
    --bs-dropdown-link-hover-color: #fff;
    --bs-dropdown-link-hover-bg: #fb7800;
  }
  .dropdown-menu {
    --bs-dropdown-color: #fff;
    --bs-dropdown-bg: #515151;
  }
  .form-check-input {
    border: 1px solid #fff;
  }
  .form-select {
    color: #fff;
  }
  .form-control {
    color: #fff;
    --bs-border-color: #e9ecef;
  }
  .modal-content {
    --bs-modal-bg: #515151;
    --bs-modal-color: #fff;
    --modal-bg-color: #515151;
  }
  .nav-link {
    --bs-nav-link-color: #ffde00;
  }
  .nav-link.active {
    background-color: #ffffff24;
  }
  .nav-link:hover {
    --bs-nav-link-hover-color: #e8291c;
  }
  .post-sds {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      -140deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(251, 120, 5, 0.3) 100%
    ) !important;
    .border-bottom {
      border-bottom: unset !important;
    }
  }
  .lh-1 .badge {
    background-color: #dd0005 !important;
  }
  .topics-list .badge.px-1 {
    background-color: #dd0005 !important;
    border: #dd0005 !important;
  }
  span.icon {
    background-color: #fb7800 !important;
  }
  .text-body {
    --bs-body-color-rgb: #fff;
    --bs-text-opacity: unset;
  }
  .textcomplete-dropdown {
    --bs-tertiary-bg: #515151;
    color: #fff;
  }
  .textcomplete-item:hover {
    --bs-tertiary-bg: #dd0005;
  }
  .text-dark {
    color: #dd0005 !important;
  }
  .text-muted {
    color: #999 !important;
  }
  .tooltip-inner {
    color: #ffde00;
  }
  ul.categories-list li.unread .title,
  ul.topics-list li.unread .title {
    color: #ffde00;
  }
}
